@charset "utf-8";

/*반응형 웹디자인 및 기본설정*/
html *, ::before, ::after {
	box-sizing: border-box;
}

/* 글꼴 */
html {
	position: relative;
	min-height: 100%;
	margin: 0;
	font-size: 14px;
	scroll-behavior: smooth;
}

@media ( min-width : 768px) {
	html {
		font-size: 16px;
		scroll-behavior: smooth;
	}
}

body {
	min-height: 100%;
	font-family: 'twayair', sans-serif;
	font-weight: 400;
	/* font 기본 두께 지정 */
}

/* 제목 굵게 처리 */
h1, h2, h3, h4, h5, h6, th, strong {
	font-weight: 700;
}

/* 표준 링크 색상 */
a {
	color: #f30;
}

br {
	align-content: center;
}

/* 반응형 웹 디자인 및 이미지 아래 여백제거 */
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	/* 이미지 아래 여백 삭제 */
}

@font-face {
	font-family: 'twayair';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*반응형 웹디자인 및 기본설정*/

/*홈 메인버튼*/
.button-main {
	margin-top: 100px;
	min-height: 50vh;
}
/*가로 800px 이상일때*/
@media ( min-width : 800px) {
	.button-main {
		width: 460px;
		margin: auto;
	}
}

.button-main-title {
  margin-top: 200px;
  text-align: center;
}

.button-main-title h2{
	color:#8f784b;
}

.libsearch {
	background:#8f784b;
	color:white;
	border:none;
	border-radius:5px;
	margin-top: 10px;
	float: left;
	width: 49%;
	height: 100px;
}

.libsearch:hover{
	cursor:pointer;
	opacity: .5;
}

.booksearch {
	background:#8f784b;
	color:white;
	border:none;
	border-radius:5px;
	margin-top: 10px;
	float: right;
	width: 49%;
	height: 100px;
}

.booksearch:hover{
	cursor:pointer;
	opacity: .5;
}

/*홈 메인버튼*/



/*이미지*/
.slider {
	width: 640px;
	height: 480px;
	position: relative;
	margin: 0 auto;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
}

ul.imgs li {
	position: absolute;
	opacity: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	transition-delay: 0.9s;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

/*이미지*/

/* 맵 */
.map-controll {
	margin-top: 100px;
}
/*가로 800px 이상일때*/
@media ( min-width : 800px) {
	.map-controll {
		margin: auto;
	}
}

.main-map {
	margin: 100px auto;
}

.map-title{
	text-align:center;
}
/* 맵 */

/*검색창*/
.search-title {
	position: relative;
	text-align: center;
}

.search-form {
	position: relative;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.search-form i{
	color:#8f784b;
}

button.img-button {
	border: none;
	background: transparent;
	font-size: 1.125rem;
}


.keyword {
	border: none;
	border-bottom: 1px solid #8f784b;
	outline: none;
	background: transparent;
	width: 80%;
	margin: 10px 0;
	padding: 10px 12px;
	color: #000;
	font-size: 1.063rem;
}

select {
	border: none;
	outline: none;
	width: 80px;
	font-size: 16px;
	font-weight: 200;
	background: transparent;
	color: #8f784b;
}

select option {
	background-color: white;
}
/*검색창*/

/* 우리동네 무더위쉼터 */
.main-content {
	position: relative;
	text-align: left;
	margin: 0 auto;
	width: 60%;
	border-top: 2px solid #d8d8d8;
}

@media ( min-width : 768px) {
	.main-container {
		margin: 0 auto;
		padding: 0 20px;
		max-width: 1040px;
	}
}

.button-form {
	margin: 2px auto;
}

.btn {
	margin-bottom: 3px;
	border: none;
	position: relative;
	width: 60px;
	height: 60px;
	background: #8f784b;
	border-radius: 8px;
	transition: 0.3s;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.btn:focus {
	outline: 0;
}

.btn:hover {
	cursor: pointer;
	opacity:.5;
}

.btn a {
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.library-list {
	margin: 60px auto;
	font-size: 16px;
}

.list {
	width: 100%;
	border-collapse: collapse;
}

.list th {
	background-color: #fff;
	text-align: center;
	padding: 5px;
	border-bottom: 2px solid #d8d8d8;
}

.list td {
	font-size:16px;
	text-align: left;
	padding: 10px;
	border-bottom: 0.5px solid #d8d8d8;
}

/* 우리동네 무더위 쉼터 */

/*페이징*/

.pagination{
	list-style:none;
}
.pagination-link{
	font-size:16px;
	margin-left:5px;
	margin-right:5px;
	float: left;
}

.pagination a {
	color:black;
	text-decoration:underline;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}